<div class="container-fluid app-container">
  <section class="container">
    <div class="row justify-content-center align-self-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <form [formGroup]="loginForm">
          <div class="card mt-4">
            <div class="card-body">
              <h5> Welcome Back! </h5>
              <div *ngIf="errorMsg" class="row no-gutters">
                <div
                  class="d-inline bg-orange px-2 py-3 font-roman text-white d-flex align-items-center justify-content-center br-10 bbr-0 btr-0">
                  <mat-icon class="custom-mat-icon">error_outline</mat-icon>
                </div>
                <div
                  class="col border border-left-0 grey-border bw-2 px-2 text-default font-roman d-flex align-items-center br-10 bbl-0 btl-0">
                  {{errorMsg}}
                </div>
              </div>
              <div class="mt-3 justify-content-center align-self-center">
                <div class="row">
                  <div *ngIf="isMobile" class="col-4 col-sm-3 pr-0">
                    <app-carrier-code (onSelection)="countryChange($event, loginForm.get('email'))"></app-carrier-code>
                  </div>
                  <div [ngClass]="{'col-8 col-sm-9 pl-0': isMobile, 'col-sm-12': !isMobile}">
                    <div class="form-group mb-0">
                      <input type="text" class="form-control" #email
                        [ngClass]="{'br-tl-bl-0 border-left-0': isMobile, 'red-border-imp': loginForm.get('email').invalid && loginForm.get('email').touched}"
                        placeholder="Email/mobile number" required name="email" formControlName="email"
                        (input)="validatePhoneEmail()" />
                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <p class="text-danger pt-1 mb-0" *ngIf="loginForm.get('email').touched && loginForm.get('email').errors &&
                        loginForm.get('email').errors.empty">
                      {{loginForm.get('email').errors.empty.msg}}
                    </p>
                    <p class="text-danger pt-1 mb-0" *ngIf="loginForm.get('email').touched && loginForm.get('email').errors &&
                        loginForm.get('email').errors.invalid">
                      {{loginForm.get('email').errors.invalid.msg}}
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" required formControlName="password"
                    [ngClass]="{'red-border-imp': loginForm.get('password').invalid &&
                    loginForm.get('password').touched}" />
                  <p class="text-danger pt-1"
                    *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                    Password is required.
                  </p>
                </div>
                <div class="form-group text-center">
                  <button mat-flat-button color="primary" class="bg-blue-imp br-10 w-100 blue-border-imp fs-16"
                    (click)="submitForm()">Login</button>
                </div>
                <div class="form-group">
                  <h6 [routerLink]="['/forgot-password']" class="blue-text cursor-pointer font-roman">Forgot
                    Password?</h6>
                </div>

              </div>
            </div>
          </div>


          <div class="card my-4 bg-white">
            <div class="card-body">
              <h6 class="text-center font-roman mb-0">Tired of entering password? <span [routerLink]="['/magiclink']"
                  class="blue-text pt-2 font-roman cursor-pointer">Get
                  Magic Link</span></h6>

            </div>
          </div>

          <div class="card my-4 bg-white">
            <div class="card-body">
              <h6 class="text-center font-roman mb-0">Don’t have an account? <span [routerLink]="['/welcome']"
                  class="blue-text pt-2 font-roman cursor-pointer">Sign
                  Up</span></h6>
            </div>
          </div>


        </form>
      </div>
    </div>
  </section>
</div>
