#left-box,
#right-box {
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.nav-buttons {
  position: fixed;
  bottom: 10px;
}

//material custom css 
/deep/ .mat-form-field {

  .mat-form-field-wrapper {
    padding: 0;
  }

  .mat-form-field-infix {
    padding: 0;
    padding-bottom: 10px;
    height: 41px;
  }

  @media only screen and (max-width: 575px) {
    .mat-form-field-infix {
      width: 160px;
    }
  }

  input {
    height: 100%;
  }
}

/deep/ .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: rgba(0, 0, 0, .12) !important;

  &.mat-form-field-outline-thick {
    color: rgba(0, 0, 0, .12) !important;
  }
}

// /deep/ .date-field.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
//     color: rgba(0,0,0,.12) !important;
// }

/deep/ .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgba(0, 0, 0, 0.12)
}

/deep/ .mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-focused) .mat-form-field-flex:hover .mat-form-field-outline-thick {
  opacity: 0.12 !important;
}

/deep/ .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: rgba(0, 0, 0, .54)
}

.mat-select,
.mat-input-element {
  font-size: 13px;
}

/deep/ .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: none !important;
}
