/* .container {
  min-height: 100vh;
  margin-top: 3rem;

}

.btn-primary {
  background-color: #fe6e33;
  color: white !important;
}

.btn {
  border-radius: 5px !important;
  border: none;
  min-width: 150px;
  padding: 4px 1rem;
}


.card {
  margin-top: 4rem;
  min-width: 300px;
}

.lineBetween {
  display: inline;
  text-align: center;
}

.lineBetween::after,
.lineBetween::before {
  content: '';
  min-width: 42%;
  height: 1px;
  display: inline-block;
  align-self: center;
  background-color: rgba(0, 0, 0, .15);
  margin-bottom: 4px;
}


@media only screen and (min-width: 600px) {
  .res-margin {
    margin-top: 5rem;
  }
}

@media (min-width: 1200px) {
  .container--main {
    margin-left: 10vw;
    margin-right: 10vw;
  }
} */
