<!-- <app-header></app-header> -->

<div class="container-fluid app-container">
  <section class="container pt-3 pb-5">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title font-heavy">Forgot Password?</h5>
            <p class="fs-14 font-roman">Enter the email/mobile number associated with your EventoLoop account.</p>
            <form [formGroup]="form">
              <div class="row">
                <div *ngIf="isMobile" class="col-4 col-sm-3 pr-0">
                  <app-carrier-code (onSelection)="countryChange($event)"></app-carrier-code>
                </div>
                <div [ngClass]="{'col-8 col-sm-9 pb-2 pl-0': isMobile, 'col-sm-12': !isMobile}">
                  <div class="form-group">
                    <input type="email" class="form-control" [ngClass]="{'br-tl-bl-0 border-left-0': isMobile}"
                      formControlName="email" (input)="validatePhoneEmail()" placeholder="Email or mobile number">
                    <p class="invalid-feedback" *ngIf="form.get('email').invalid && form.get('email').touched">
                      Email/mobile number is required
                    </p>
                  </div>
                </div>
              </div>
              <button mat-flat-button color="primary"
                class="d-none d-sm-block bg-blue-imp br-10 w-100 blue-border-imp fs-16" (click)="submitForm()">Send reset link</button>
              <button mat-flat-button color="primary" class="d-sm-none bg-blue-imp br-10 w-100 blue-border-imp fs-16"
                (click)="submitForm()">Send reset link</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
