<div class="container-fluid app-container px-0 pt-5 account">
  <div class="mx-2 mx-sm-4 mx-xl-5">
    <div class="row">
      <div class="col d-none d-xl-block"></div>
      <div class="col-12 col-xl-11">
        <h4 class="text-default font-heavy my-4">FAQs</h4>
        <div class="row justify-content-center pb-4">
          <div class="col-12 col-lg-9 order-2 order-lg-1">
            <ng-container *ngIf="activePage == 1">
              <div class="card border grey-border-imp br-6">
                <div class="card-body">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <u class="font-roman text-default">About EventoLoop</u>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <h5 class="font-heavy text-default">What is EventoLoop?</h5>
                      <p class="font-roman text-default">EventoLoop is an online platform and marketplace for people to instantly list,
                        discover, and book short-term spaces to create unique event experiences.</p>
                      <h5 class="font-heavy text-default">What does EventoLoop do?</h5>
                      <p class="font-roman text-default">EventoLoop connects owners of one-of-a-kind spaces with people looking to
                        create event experiences for small gatherings, workshops, photo-shoots, exhibitions, company off-sites, and
                        more. Users can also search for event production services, making Splacer a one-stop shop for all event planning
                        needs.
                        Splacer’s purpose is twofold: providing event hosts with a platform for finding creative spaces that were
                        previously unavailable, and giving space owners an opportunity to put their underutilized spaces to good use,
                        make some extra cash, showcase their space and expand their network.</p>
                      <h5 class="font-heavy text-default">How does EventoLoop find spaces?</h5>
                      <p class="font-roman text-default">EventoLoop utilizes a network of local scouts and affiliates to access unique
                        spaces and curates its offering to ensure only the best venues are listed on the platform.</p>
                      <h5 class="font-heavy text-default">How often does EventoLoop list new spaces on the site?</h5>
                      <p class="font-roman text-default">Almost daily. EventoLoop’s database is constantly updated. Check in every few
                        days to see new additions.</p>
                      <h5 class="font-heavy text-default">How does EventoLoop differ from other platforms?</h5>
                      <p class="font-roman text-default">Unlike other online event platforms, EventoLoop curates its spaces: all spaces
                        are reviewed by the EventoLoop team that then select only genuinely unique locations. EventoLoop was founded by
                        a group of architects and creative minds who work to put together a truly outstanding list of unexpected venues.
                        EventoLoop lists both private and commercial spaces as well as a curated selection of service providers from
                        caterers to photographers, making it a one-stop-shop for all your event needs.</p>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="activePage == 2">
              <div class="card border grey-border-imp br-6">
                <div class="card-body">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <u class="font-roman text-default">EventoLoop for Space Owners</u>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <h5 class="font-heavy text-default">How does EventoLoop work for space owners?</h5>
                      <p class="font-roman text-default">Space owners sign up with some basic information about the space, its location,
                        and their contact info. After approval by the EventoLoop team, they add more information about the space, upload
                        pictures, and select the types of events they welcome in their space. When an event organizer contacts a space
                        owner, they will reply with further information about availability and prices. The space owner is responsible
                        for making sure the space is use-ready before every event. EventoLoop will handle payment processing and all
                        other backend details to guarantee a safe and secure exchange all around. EventoLoop will also facilitate
                        reviews following the event to make sure wonderful spaces and hosts get proper notice.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <u class="font-roman text-default">Tools for EventoLoop Owners</u>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <h5 class="font-heavy text-default">What is a booking request?</h5>
                      <p class="font-roman text-default">A booking request takes place when an organizer/customer has committed to your
                        space and event dates, and has initiated the booking process for your space.
                        All you need to do is accept the request and the event is instantly booked.
                        No need to create a quote or message the organizer/customer , if you don’t require it.
                        Once you hit ‘Accept’, your space and contact details will automatically be shared with the organizer/customer.
                      </p>
                      <h5 class="font-heavy text-default">How is a booking request different from an inquiry?</h5>
                      <p class="font-roman text-default">With a booking request the organizer/customer has committed to your space and
                        has held the reservation with a credit card. The amount held is that of the default price on your space page.
                        The organizer may or may not need to message with you about the event.
                        An inquiry is sent by an organizer/customer who is interested in your space, but may still have questions and/or
                        require a site visit before committing to it. In this case it is up to you to create a quote in order for the
                        booking process to start. (The organizer/customer has the option to send a booking request at any time during
                        your conversation).</p>
                      <h5 class="font-heavy text-default">How do I respond to a booking request?</h5>
                      <p class="font-roman text-default">It’s easy! Just click on the booking request from your inbox, and select
                        “Accept”. The event will automatically be confirmed and booked.
                        You have a few other options if you can’t accept the request at this time:
                        Create a custom quote to adjust the price or times of the event
                        Message the organizer if you have any questions before accepting the request
                        Decline the event to let the organizer know you can’t accommodate the event.</p>
                      <h5 class="font-heavy text-default">How long to I have to respond to a booking request?</h5>
                      <p class="font-roman text-default">You have 2 business days to respond to a booking request (either accept, send a
                        new quote, message the organizer or decline the request). If you fail to send a response, the opportunity will
                        expire and this will impact your response rate & time. As a result your search ranking will be affected.</p>
                      <h5 class="font-heavy text-default">I’d like to host the event, but my space is unavailable during the time the
                        organizer requested. What should I do?</h5>
                      <p class="font-roman text-default">The booking request is valid for 2 business days and you can message the
                        organizer and see if another date or time works for them. If you’ve agreed on a new time, select “create custom
                        quote” and make the relevant adjustments to the event details. The organizer can then book and pay for the event
                        as usual.</p>
                      <h5 class="font-heavy text-default">I’d like to host the event, but the price needs to be adjusted. What should I
                        do?</h5>
                      <p class="font-roman text-default">You can select “create custom quote” and make the relevant adjustments to the
                        event details as well as add a note to the quote about why you’re adjusting it. The organizer can then book and
                        pay for the event as usual. You can message the organizer at any time to let them know about this needed change.
                      </p>
                      <h5 class="font-heavy text-default">I’ve been messaging the organizer, but the booking request has expired. Have I
                        lost the opportunity?</h5>
                      <p class="font-roman text-default">Since you’ve responded to the organizer within 2 business days window, you can
                        still book the opportunity. Since the booking request has expired, you will have to send a new quote for the
                        booking to take place.</p>
                      <h5 class="font-heavy text-default">I declined a booking request - does that impact my response rate?</h5>
                      <p class="font-roman text-default">Nope! As long as you somehow respond to the organizer, your response rate and
                        time aren’t negatively impacted. You can always follow up with the organizer and tell them why you can’t
                        accommodate their event. You cannot decline three straight requests. It may lead to exclusion from the listings.
                      </p>
                      <h5 class="font-heavy text-default">What are EventoLoop’s messaging & booking policies?</h5>
                      <p class="font-roman text-default">We understand that at times contact information needs to be shared in order to
                        secure an event. However, to ensure that the benefits of EventoLoop are received by all parties, and for the
                        protection of our users' privacy and security, we do require that the following set of rules be followed when
                        communicating on EventoLoop:
                        All conversation surrounding a booking should take place on the EventoLoop platform, except during a site visit
                        or phone call.
                        Get as many details about the event to ensure you can move forward with it, before scheduling an in-person
                        meeting or phone call.
                        When a site visit or call are deemed necessary, a date and time for the meeting should be agreed upon. Once this
                        agreement is reached, the space address and phone numbers can be shared to facilitate the meeting.
                        Immediately after a site visit or phone call, the conversation should return to EventoLoop with a message, quote
                        or quote request.
                        When it comes time to confirm the rental, all payment* must be processed through the EventoLoop quote system.
                        This ensures, the benefits of a EventoLoop booking for all parties.
                        When these policies are adhered to, the EventoLoop team can support you throughout the booking process and
                        ensure that:
                        Payment is verified and secure
                        You’re covered by our insurance policy
                        We can help resolve and manage disputes should they arise.</p>
                      <h5 class="font-heavy text-default">How/where can I see all my rental inquiries?</h5>
                      <p class="font-roman text-default">You can connect your facebook and you will get the inquiries through facebook
                        messenger</p>
                      <h5 class="font-heavy text-default">Where can I see all of my messages?</h5>
                      <p class="font-roman text-default">All your messages, from EventoLoop as well as from all other sources and leads,
                        will appear in facebook messenger.</p>
                      <h5 class="font-heavy text-default">How/where do I see all my bookings?</h5>
                      <p class="font-roman text-default">Go to your pipeline and click on the Booked tab, all your booked events will
                        show up there.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <u class="font-roman text-default">Listing a space on EventoLoop</u>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <h5 class="font-heavy text-default">Is there a cost for listing a space on EventoLoop ?</h5>
                      <p class="font-roman text-default">There is no cost to listing your space on EventoLoop. Splacer only charges a
                        service fee on booked events.</p>
                      <h5 class="font-heavy text-default">Do you need to be exclusive to EventoLoop to list?</h5>
                      <p class="font-roman text-default">No, we do not require Space Owners to be solely exclusive with our website.</p>
                      <h5 class="font-heavy text-default">What information is included in my listing page?</h5>
                      <p class="font-roman text-default">Your listing page will provide event organizers the basics: schedule, rates,
                        amenities, rules, etc. But you also have an opportunity to share what makes your space special. Tell organizers
                        how you found your space, what you’ve done with it, and any other details you think will make the space stand
                        out.</p>
                      <h5 class="font-heavy text-default">How can I edit and add photos to my listing?</h5>
                      <p class="font-roman text-default">You can edit your picture but EventoLoop will verify it before making it
                        live.</p>
                      <h5 class="font-heavy text-default">What makes a successful listing?</h5>
                      <p class="font-roman text-default">1.Great Photos
                        High resolution photographs of your space at various angles, in bright lighting will catch the attention of
                        event organizers. Landscape orientation looks best on our platform.
                        2. Prompt response to event inquires.
                        We have found that space owners who respond to event inquires quickly have the highest rate of success on the
                        website.
                        3. Competitive pricing</p>
                      <h5 class="font-heavy text-default">I offer in-house catering and beverage services — can I include that in my
                        listing?</h5>
                      <p class="font-roman text-default">Our service revolves specifically around the rental of the space itself, but
                        you are free to include that information in your description and communicate with the event organizer regarding
                        special services you provide. Splacer will remain uninvolved in negotiations between you and the organizer on
                        food and beverage pricing and other special services (like lighting equipment for example) and will not take a
                        service fee off any additional charges.</p>
                      <h5 class="font-heavy text-default">Can my space be displayed higher up on the search page result?</h5>
                      <p class="font-roman text-default">The search result page is based on the popularity of the space. Spaces that
                        generally are most popular are ones that have a competitive hourly rate, and high resolution images that
                        highlight the beauty and essence of the space.</p>
                      <h5 class="font-heavy text-default">Can I choose to stop listing my space? Is there a penalty?</h5>
                      <p class="font-roman text-default">There is no obligation to remain on the site once you list your space. You can
                        drop out at any time without penalty. Just send a message to info@EventoLoop.co and tell EventoLoop why you wish
                        to stop listing. Your listing will be deactivated within 2 business days.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <u class="font-roman text-default">Fees and Payments</u>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <h5 class="font-heavy text-default">Where can I see my payment status?</h5>
                      <p class="font-roman text-default">Payment status can be found in your event page under the Account > Transaction
                        history.</p>
                      <h5 class="font-heavy text-default">Does EventoLoop charge anything?</h5>
                      <p class="font-roman text-default">EventoLoop charges owners a 6% service fee for each booking generated through
                        EventoLoop.com . That amount is taken out of the rate you specify in a quote for an event. </p>
                      <h5 class="font-heavy text-default">How should I set my rates?</h5>
                      <p class="font-roman text-default">We give you freedom in choosing the rates you set based on rent per hour /
                        price per plate basis.</p>
                      <h5 class="font-heavy text-default">How / when do I get paid?</h5>
                      <p class="font-roman text-default">You will get paid with in 24 hrs after the event.</p>
                      <h5 class="font-heavy text-default">Do I get paid if an event was cancelled after it was already Booked?</h5>
                      <p class="font-roman text-default">Space owners are paid for cancelled events according to their choice of
                        cancellation policy. EventoLoop will issue a refund to the client in the appropriate amount.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <u class="font-roman text-default">General Questions</u>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <h5 class="font-heavy text-default">Where can I see my payment status?</h5>
                      <p class="font-roman text-default">Payment status can be found in your event page under the Account > Transaction
                        history.</p>
                      <h5 class="font-heavy text-default">Does EventoLoop charge anything?</h5>
                      <p class="font-roman text-default">EventoLoop charges owners a 6% service fee for each booking generated through
                        EventoLoop.com . That amount is taken out of the rate you specify in a quote for an event. </p>
                      <h5 class="font-heavy text-default">How should I set my rates?</h5>
                      <p class="font-roman text-default">We give you freedom in choosing the rates you set based on rent per hour /
                        price per plate basis.</p>
                      <h5 class="font-heavy text-default">How / when do I get paid?</h5>
                      <p class="font-roman text-default">You will get paid with in 24 hrs after the event.</p>
                      <h5 class="font-heavy text-default">Do I get paid if an event was cancelled after it was already Booked?</h5>
                      <p class="font-roman text-default">Space owners are paid for cancelled events according to their choice of
                        cancellation policy. EventoLoop will issue a refund to the client in the appropriate amount.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <u class="font-roman text-default">Paid Services for Space Owners</u>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <h5 class="font-heavy text-default">Where can I see my payment status?</h5>
                      <p class="font-roman text-default">Payment status can be found in your event page under the Account > Transaction
                        history.</p>
                      <h5 class="font-heavy text-default">Does EventoLoop charge anything?</h5>
                      <p class="font-roman text-default">EventoLoop charges owners a 6% service fee for each booking generated through
                        EventoLoop.com . That amount is taken out of the rate you specify in a quote for an event. </p>
                      <h5 class="font-heavy text-default">How should I set my rates?</h5>
                      <p class="font-roman text-default">We give you freedom in choosing the rates you set based on rent per hour /
                        price per plate basis.</p>
                      <h5 class="font-heavy text-default">How / when do I get paid?</h5>
                      <p class="font-roman text-default">You will get paid with in 24 hrs after the event.</p>
                      <h5 class="font-heavy text-default">Do I get paid if an event was cancelled after it was already Booked?</h5>
                      <p class="font-roman text-default">Space owners are paid for cancelled events according to their choice of
                        cancellation policy. EventoLoop will issue a refund to the client in the appropriate amount.</p>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="activePage == 3">
              <div class="card border grey-border-imp br-6">
                <div class="card-body">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <u class="font-roman text-default">EventoLoop for Guests</u>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <h5 class="font-heavy text-default">Is there a cost for listing a space on EventoLoop ?</h5>
                      <p class="font-roman text-default">There is no cost to listing your space on EventoLoop. Splacer only charges a
                        service fee on booked events.</p>
                      <h5 class="font-heavy text-default">Do you need to be exclusive to EventoLoop to list?</h5>
                      <p class="font-roman text-default">No, we do not require Space Owners to be solely exclusive with our website.</p>
                      <h5 class="font-heavy text-default">What information is included in my listing page?</h5>
                      <p class="font-roman text-default">Your listing page will provide event organizers the basics: schedule, rates,
                        amenities, rules, etc. But you also have an opportunity to share what makes your space special. Tell organizers
                        how you found your space, what you’ve done with it, and any other details you think will make the space stand
                        out.</p>
                      <h5 class="font-heavy text-default">How can I edit and add photos to my listing?</h5>
                      <p class="font-roman text-default">You can edit your picture but EventoLoop will verify it before making it
                        live.</p>
                      <h5 class="font-heavy text-default">What makes a successful listing?</h5>
                      <p class="font-roman text-default">1.Great Photos
                        High resolution photographs of your space at various angles, in bright lighting will catch the attention of
                        event organizers. Landscape orientation looks best on our platform.
                        2. Prompt response to event inquires.
                        We have found that space owners who respond to event inquires quickly have the highest rate of success on the
                        website.
                        3. Competitive pricing</p>
                      <h5 class="font-heavy text-default">I offer in-house catering and beverage services — can I include that in my
                        listing?</h5>
                      <p class="font-roman text-default">Our service revolves specifically around the rental of the space itself, but
                        you are free to include that information in your description and communicate with the event organizer regarding
                        special services you provide. Splacer will remain uninvolved in negotiations between you and the organizer on
                        food and beverage pricing and other special services (like lighting equipment for example) and will not take a
                        service fee off any additional charges.</p>
                      <h5 class="font-heavy text-default">Can my space be displayed higher up on the search page result?</h5>
                      <p class="font-roman text-default">The search result page is based on the popularity of the space. Spaces that
                        generally are most popular are ones that have a competitive hourly rate, and high resolution images that
                        highlight the beauty and essence of the space.</p>
                      <h5 class="font-heavy text-default">Can I choose to stop listing my space? Is there a penalty?</h5>
                      <p class="font-roman text-default">There is no obligation to remain on the site once you list your space. You can
                        drop out at any time without penalty. Just send a message to info@EventoLoop.co and tell EventoLoop why you wish
                        to stop listing. Your listing will be deactivated within 2 business days.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <u class="font-roman text-default">Fees and Payments</u>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <h5 class="font-heavy text-default">Where can I see my payment status?</h5>
                      <p class="font-roman text-default">Payment status can be found in your event page under the Account > Transaction
                        history.</p>
                      <h5 class="font-heavy text-default">Does EventoLoop charge anything?</h5>
                      <p class="font-roman text-default">EventoLoop charges owners a 6% service fee for each booking generated through
                        EventoLoop.com . That amount is taken out of the rate you specify in a quote for an event. </p>
                      <h5 class="font-heavy text-default">How should I set my rates?</h5>
                      <p class="font-roman text-default">We give you freedom in choosing the rates you set based on rent per hour /
                        price per plate basis.</p>
                      <h5 class="font-heavy text-default">How / when do I get paid?</h5>
                      <p class="font-roman text-default">You will get paid with in 24 hrs after the event.</p>
                      <h5 class="font-heavy text-default">Do I get paid if an event was cancelled after it was already Booked?</h5>
                      <p class="font-roman text-default">Space owners are paid for cancelled events according to their choice of
                        cancellation policy. EventoLoop will issue a refund to the client in the appropriate amount.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <u class="font-roman text-default">Exploring the Website</u>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <h5 class="font-heavy text-default">Where can I see my payment status?</h5>
                      <p class="font-roman text-default">Payment status can be found in your event page under the Account > Transaction
                        history.</p>
                      <h5 class="font-heavy text-default">Does EventoLoop charge anything?</h5>
                      <p class="font-roman text-default">EventoLoop charges owners a 6% service fee for each booking generated through
                        EventoLoop.com . That amount is taken out of the rate you specify in a quote for an event. </p>
                      <h5 class="font-heavy text-default">How should I set my rates?</h5>
                      <p class="font-roman text-default">We give you freedom in choosing the rates you set based on rent per hour /
                        price per plate basis.</p>
                      <h5 class="font-heavy text-default">How / when do I get paid?</h5>
                      <p class="font-roman text-default">You will get paid with in 24 hrs after the event.</p>
                      <h5 class="font-heavy text-default">Do I get paid if an event was cancelled after it was already Booked?</h5>
                      <p class="font-roman text-default">Space owners are paid for cancelled events according to their choice of
                        cancellation policy. EventoLoop will issue a refund to the client in the appropriate amount.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <u class="font-roman text-default">Communicating with Space Owners</u>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <h5 class="font-heavy text-default">Where can I see my payment status?</h5>
                      <p class="font-roman text-default">Payment status can be found in your event page under the Account > Transaction
                        history.</p>
                      <h5 class="font-heavy text-default">Does EventoLoop charge anything?</h5>
                      <p class="font-roman text-default">EventoLoop charges owners a 6% service fee for each booking generated through
                        EventoLoop.com . That amount is taken out of the rate you specify in a quote for an event. </p>
                      <h5 class="font-heavy text-default">How should I set my rates?</h5>
                      <p class="font-roman text-default">We give you freedom in choosing the rates you set based on rent per hour /
                        price per plate basis.</p>
                      <h5 class="font-heavy text-default">How / when do I get paid?</h5>
                      <p class="font-roman text-default">You will get paid with in 24 hrs after the event.</p>
                      <h5 class="font-heavy text-default">Do I get paid if an event was cancelled after it was already Booked?</h5>
                      <p class="font-roman text-default">Space owners are paid for cancelled events according to their choice of
                        cancellation policy. EventoLoop will issue a refund to the client in the appropriate amount.</p>
                    </mat-expansion-panel>    
                  </mat-accordion>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="col-12 col-sm-8 col-md-6 col-lg-3 order-1 order-lg-2">
            <div class="sticky-top sticky-container pb-1">
              <div class="card br-6 grey-border-imp">
                <div class="card-body p-0">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <h4 class="text-default font-heavy py-3 px-4 m-0">Topics</h4>
                    </div>
                    <div class="col-12">
                      <mat-divider></mat-divider>
                    </div>
                    <div class="col-12 cursor-pointer" (click)="selectPage('1')">
                      <p [ngClass]="{'selected font-heavy': activePage==1}" class="font-roman py-2 px-4 m-0">
                        General
                      </p>
                    </div>
                    <div class="col-12">
                      <mat-divider></mat-divider>
                    </div>
                    <div class="col-12 cursor-pointer" (click)="selectPage('2')">
                      <p [ngClass]="{'selected font-heavy': activePage==2}" class="font-roman py-2 px-4 m-0">
                        Space Owners
                      </p>
                    </div>
                    <div class="col-12">
                      <mat-divider></mat-divider>
                    </div>
                    <div class="col-12 cursor-pointer" (click)="selectPage('3')">
                      <p [ngClass]="{'selected font-heavy': activePage==3}" class="font-roman py-2 px-4 m-0">
                        EventoLoop Guests
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-none d-xl-block"></div>
    </div>
  </div>
</div>  
<!-- <div class="container">
  <h3 class="text-default my-4 offset-md-2 col-md-10">FAQs</h3>
  <div class="card mat-elevation-z2 offset-md-2 col-md-8">
    <div class="card-body">
      <h5 class="font-heavy text-default">What is EventoLoop?</h5>
      <p class="font-roman text-default">EventoLoop is an online platform and marketplace for people to instantly list,
        discover, and book short-term spaces to create unique event experiences.</p>
      <h5 class="font-heavy text-default">What does EventoLoop do?</h5>
      <p class="font-roman text-default">EventoLoop connects owners of one-of-a-kind spaces with people looking to
        create event experiences for small gatherings, workshops, photo-shoots, exhibitions, company off-sites, and
        more. Users can also search for event production services, making Splacer a one-stop shop for all event planning
        needs.
        Splacer’s purpose is twofold: providing event hosts with a platform for finding creative spaces that were
        previously unavailable, and giving space owners an opportunity to put their underutilized spaces to good use,
        make some extra cash, showcase their space and expand their network.</p>
      <h5 class="font-heavy text-default">How does EventoLoop find spaces?</h5>
      <p class="font-roman text-default">EventoLoop utilizes a network of local scouts and affiliates to access unique
        spaces and curates its offering to ensure only the best venues are listed on the platform.</p>
      <h5 class="font-heavy text-default">How often does EventoLoop list new spaces on the site?</h5>
      <p class="font-roman text-default">Almost daily. EventoLoop’s database is constantly updated. Check in every few
        days to see new additions.</p>
      <h5 class="font-heavy text-default">How does EventoLoop differ from other platforms?</h5>
      <p class="font-roman text-default">Unlike other online event platforms, EventoLoop curates its spaces: all spaces
        are reviewed by the EventoLoop team that then select only genuinely unique locations. EventoLoop was founded by
        a group of architects and creative minds who work to put together a truly outstanding list of unexpected venues.
        EventoLoop lists both private and commercial spaces as well as a curated selection of service providers from
        caterers to photographers, making it a one-stop-shop for all your event needs.</p>
      <h5 class="font-heavy text-default">How does EventoLoop work for space owners?</h5>
      <p class="font-roman text-default">Space owners sign up with some basic information about the space, its location,
        and their contact info. After approval by the EventoLoop team, they add more information about the space, upload
        pictures, and select the types of events they welcome in their space. When an event organizer contacts a space
        owner, they will reply with further information about availability and prices. The space owner is responsible
        for making sure the space is use-ready before every event. EventoLoop will handle payment processing and all
        other backend details to guarantee a safe and secure exchange all around. EventoLoop will also facilitate
        reviews following the event to make sure wonderful spaces and hosts get proper notice.</p>
      <h5 class="font-heavy text-default">What is a booking request?</h5>
      <p class="font-roman text-default">A booking request takes place when an organizer/customer has committed to your
        space and event dates, and has initiated the booking process for your space.
        All you need to do is accept the request and the event is instantly booked.
        No need to create a quote or message the organizer/customer , if you don’t require it.
        Once you hit ‘Accept’, your space and contact details will automatically be shared with the organizer/customer.
      </p>
      <h5 class="font-heavy text-default">How is a booking request different from an inquiry?</h5>
      <p class="font-roman text-default">With a booking request the organizer/customer has committed to your space and
        has held the reservation with a credit card. The amount held is that of the default price on your space page.
        The organizer may or may not need to message with you about the event.
        An inquiry is sent by an organizer/customer who is interested in your space, but may still have questions and/or
        require a site visit before committing to it. In this case it is up to you to create a quote in order for the
        booking process to start. (The organizer/customer has the option to send a booking request at any time during
        your conversation).</p>
      <h5 class="font-heavy text-default">How do I respond to a booking request?</h5>
      <p class="font-roman text-default">It’s easy! Just click on the booking request from your inbox, and select
        “Accept”. The event will automatically be confirmed and booked.
        You have a few other options if you can’t accept the request at this time:
        Create a custom quote to adjust the price or times of the event
        Message the organizer if you have any questions before accepting the request
        Decline the event to let the organizer know you can’t accommodate the event.</p>
      <h5 class="font-heavy text-default">How long to I have to respond to a booking request?</h5>
      <p class="font-roman text-default">You have 2 business days to respond to a booking request (either accept, send a
        new quote, message the organizer or decline the request). If you fail to send a response, the opportunity will
        expire and this will impact your response rate & time. As a result your search ranking will be affected.</p>
      <h5 class="font-heavy text-default">I’d like to host the event, but my space is unavailable during the time the
        organizer requested. What should I do?</h5>
      <p class="font-roman text-default">The booking request is valid for 2 business days and you can message the
        organizer and see if another date or time works for them. If you’ve agreed on a new time, select “create custom
        quote” and make the relevant adjustments to the event details. The organizer can then book and pay for the event
        as usual.</p>
      <h5 class="font-heavy text-default">I’d like to host the event, but the price needs to be adjusted. What should I
        do?</h5>
      <p class="font-roman text-default">You can select “create custom quote” and make the relevant adjustments to the
        event details as well as add a note to the quote about why you’re adjusting it. The organizer can then book and
        pay for the event as usual. You can message the organizer at any time to let them know about this needed change.
      </p>
      <h5 class="font-heavy text-default">I’ve been messaging the organizer, but the booking request has expired. Have I
        lost the opportunity?</h5>
      <p class="font-roman text-default">Since you’ve responded to the organizer within 2 business days window, you can
        still book the opportunity. Since the booking request has expired, you will have to send a new quote for the
        booking to take place.</p>
      <h5 class="font-heavy text-default">I declined a booking request - does that impact my response rate?</h5>
      <p class="font-roman text-default">Nope! As long as you somehow respond to the organizer, your response rate and
        time aren’t negatively impacted. You can always follow up with the organizer and tell them why you can’t
        accommodate their event. You cannot decline three straight requests. It may lead to exclusion from the listings.
      </p>
      <h5 class="font-heavy text-default">What are EventoLoop’s messaging & booking policies?</h5>
      <p class="font-roman text-default">We understand that at times contact information needs to be shared in order to
        secure an event. However, to ensure that the benefits of EventoLoop are received by all parties, and for the
        protection of our users' privacy and security, we do require that the following set of rules be followed when
        communicating on EventoLoop:
        All conversation surrounding a booking should take place on the EventoLoop platform, except during a site visit
        or phone call.
        Get as many details about the event to ensure you can move forward with it, before scheduling an in-person
        meeting or phone call.
        When a site visit or call are deemed necessary, a date and time for the meeting should be agreed upon. Once this
        agreement is reached, the space address and phone numbers can be shared to facilitate the meeting.
        Immediately after a site visit or phone call, the conversation should return to EventoLoop with a message, quote
        or quote request.
        When it comes time to confirm the rental, all payment* must be processed through the EventoLoop quote system.
        This ensures, the benefits of a EventoLoop booking for all parties.
        When these policies are adhered to, the EventoLoop team can support you throughout the booking process and
        ensure that:
        Payment is verified and secure
        You’re covered by our insurance policy
        We can help resolve and manage disputes should they arise.</p>
      <h5 class="font-heavy text-default">How/where can I see all my rental inquiries?</h5>
      <p class="font-roman text-default">You can connect your facebook and you will get the inquiries through facebook
        messenger</p>
      <h5 class="font-heavy text-default">Where can I see all of my messages?</h5>
      <p class="font-roman text-default">All your messages, from EventoLoop as well as from all other sources and leads,
        will appear in facebook messenger.</p>
      <h5 class="font-heavy text-default">How/where do I see all my bookings?</h5>
      <p class="font-roman text-default">Go to your pipeline and click on the Booked tab, all your booked events will
        show up there.</p>
      <h5 class="font-heavy text-default">Is there a cost for listing a space on EventoLoop ?</h5>
      <p class="font-roman text-default">There is no cost to listing your space on EventoLoop. Splacer only charges a
        service fee on booked events.</p>
      <h5 class="font-heavy text-default">Do you need to be exclusive to EventoLoop to list?</h5>
      <p class="font-roman text-default">No, we do not require Space Owners to be solely exclusive with our website.</p>
      <h5 class="font-heavy text-default">What information is included in my listing page?</h5>
      <p class="font-roman text-default">Your listing page will provide event organizers the basics: schedule, rates,
        amenities, rules, etc. But you also have an opportunity to share what makes your space special. Tell organizers
        how you found your space, what you’ve done with it, and any other details you think will make the space stand
        out.</p>
      <h5 class="font-heavy text-default">How can I edit and add photos to my listing?</h5>
      <p class="font-roman text-default">You can edit your picture but EventoLoop will verify it before making it
        live.</p>
      <h5 class="font-heavy text-default">What makes a successful listing?</h5>
      <p class="font-roman text-default">1.Great Photos
        High resolution photographs of your space at various angles, in bright lighting will catch the attention of
        event organizers. Landscape orientation looks best on our platform.
        2. Prompt response to event inquires.
        We have found that space owners who respond to event inquires quickly have the highest rate of success on the
        website.
        3. Competitive pricing</p>
      <h5 class="font-heavy text-default">I offer in-house catering and beverage services — can I include that in my
        listing?</h5>
      <p class="font-roman text-default">Our service revolves specifically around the rental of the space itself, but
        you are free to include that information in your description and communicate with the event organizer regarding
        special services you provide. Splacer will remain uninvolved in negotiations between you and the organizer on
        food and beverage pricing and other special services (like lighting equipment for example) and will not take a
        service fee off any additional charges.</p>
      <h5 class="font-heavy text-default">Can my space be displayed higher up on the search page result?</h5>
      <p class="font-roman text-default">The search result page is based on the popularity of the space. Spaces that
        generally are most popular are ones that have a competitive hourly rate, and high resolution images that
        highlight the beauty and essence of the space.</p>
      <h5 class="font-heavy text-default">Can I choose to stop listing my space? Is there a penalty?</h5>
      <p class="font-roman text-default">There is no obligation to remain on the site once you list your space. You can
        drop out at any time without penalty. Just send a message to info@EventoLoop.co and tell EventoLoop why you wish
        to stop listing. Your listing will be deactivated within 2 business days.</p>
      <h5 class="font-heavy text-default">Where can I see my payment status?</h5>
      <p class="font-roman text-default">Payment status can be found in your event page under the Account > Transaction
        history.</p>
      <h5 class="font-heavy text-default">Does EventoLoop charge anything?</h5>
      <p class="font-roman text-default">EventoLoop charges owners a 6% service fee for each booking generated through
        EventoLoop.com . That amount is taken out of the rate you specify in a quote for an event. </p>
      <h5 class="font-heavy text-default">How should I set my rates?</h5>
      <p class="font-roman text-default">We give you freedom in choosing the rates you set based on rent per hour /
        price per plate basis.</p>
      <h5 class="font-heavy text-default">How / when do I get paid?</h5>
      <p class="font-roman text-default">You will get paid with in 24 hrs after the event.</p>
      <h5 class="font-heavy text-default">Do I get paid if an event was cancelled after it was already Booked?</h5>
      <p class="font-roman text-default">Space owners are paid for cancelled events according to their choice of
        cancellation policy. EventoLoop will issue a refund to the client in the appropriate amount.</p> -->
      <!-- <h5>How much time does a host have to respond to my reservation request?</h5>
      <p>Hosts have 24 hours to officially accept or decline reservation requests. You'll be updated by email about the status of your request. 
      <p>If a host confirms your request, your payment is processed and collected by SurpriseGift in full.</p>
      <p>If a host declines your request or the request expires, we don't process your payment.</p>

      <h5>Can I make changes to a pending reservation request?</h5>
      <p>Yes. If the request hasn’t been accepted by the host, you can withdraw the request and send a new one with the updated reservation details.
      <p>To change a reservation request:
      <ol>
        <li>Go to bookings on Surprisegift.us</li>
        <li>Find the pending reservation request that you want to withdraw</li>
        <li>Click Withdraw Request and then click OK to confirm</li>
        <li>If you want, send a new request with your changed dates or number of guests</li>
      </ol>

      <h5>What does each reservation status mean?</h5>

      <p><b>Pending:</b> A guest is waiting for a host to respond to a reservation request. The host has 24 hours to respond before the request expires.</p>
      <p><b>Accepted:</b> A host accepted a guest's reservation request. Surprisegift has collected full payment from the guest and the booking is complete.</p>
      <p><b>Declined:</b> A host declined a guest's reservation request. No charge is made to the guest.</p>
      <p><b>Expired:</b> A host took more than 24 hours to respond to a pending reservation request. If the host wants to accommodate the expired request, the guest will need to send another reservation request.</p>
      <p><b>Canceled:</b> A host or guest canceled a confirmed reservation.</p>
      <p><b>Closed:</b> The guest is no longer looking for a place to stay for the dates they requested.</p>

      <h5>Should I book if I have not heard back from the host?</h5>
      <p>Once you’ve found a listing for your activity, we recommend booking the space as soon as possible in order to get in front of the request queues of the venue.</p>
      <p>If a host hasn't responded, consider contacting the host before cancelling the pending request.</p>
      <p>To contact a host from the listing page, click Contact Host and ask the host any questions you have. Most hosts respond within a few hours.</p>
      <p>Keep in mind that you may be in different time zones or the host may not have Internet access at the moment.</p>
      <p>Unless you're planning on renting multiple locations for the same date and time, make sure you don’t submit more than one reservation request at a time, as you may end up booking multiple reservations during the same time period.</p>

      <h5>How do I check the status of my reservation as a guest?</h5>
      <p>If you’ve submitted a reservation request with a host on SurpriseGift, a couple of things are required to confirm your reservation:</p>
      <ul>
        <li>You must have submitted your payment information</li>
        <li>The host must accept your requestWhen a host accepts your request, you'll receive an email and, depending on your account notification settings, a text (SMS) and push notification from SurpriseGift. Your reservation request status will also change to Accepted.</li>
      </ul> -->
    <!-- </div>
  </div>
</div> -->
