.margin-top {
  margin-top: 3rem;
}

.custm-height {
  height: 55px;
}


.full-width {
  width: 100%;
}

.btn {
  padding: 0;
  width: auto !important;
  min-width: unset !important;
  margin: 0;
}

.coupon {
  height: 30px;
  width: 40px;
//   transform: rotate(180deg);
}
