<div class="container-fluid app-container">
  <section class="container py-4">
    <div class="row justify-content-center">
      <div class="card grey-border-imp br-6 col-md-10 py-4 px-5">
        <h3 class="text-default mb-4 font-heavy">About Us</h3>
        <h5 class="text-default font-roman lh-15">
          Eventoloop is a movement of technologists, architects and influencers that strongly believe in disrupting the
          way people have access to undiscovered and idle places in order to create
          experiences and meaningful events. it provides a online marketplace that enables to utilize underutilized
          spaces
          with professionals seeking truly memorable experiences. Film and photo shoots, offsite meetings, product
          launches, and charity events are just a few of the many activities that take place on the platform.
        </h5>
        <h4 class="my-4 text-default font-heavy">
          What makes us best?
        </h4>
        <h5 class="text-default font-roman lh-15"><b>Hot Spaces</b></h5>
        <h6 class="text-default font-roman lh-15"><b>We have the space for all your needs. Discover one-of-a-kind spaces
            in the cities across Hyderabad.</b></h6>
        <h5 class="text-default font-roman lh-15"><b>Perfect fit</b></h5>
        <h6 class="text-default font-roman lh-15"><b>Book space by the hour, day, or week for your needs. Find the
            perfect creative space for your needs.</b></h6>
        <h5 class="text-default font-roman lh-15"><b>Easy Booking</b></h5>
        <h6 class="text-default font-roman lh-15"><b>See all the best spaces in one place. Book instantly. it's easy to
            set up creative spaces anywhere.</b></h6>
        <h5 class="text-default font-roman lh-15"><b>Transparent Pricing</b></h5>
        <h6 class="text-default font-roman lh-15"><b>With Eventoloop , there’s no long-term commitments or hidden
            fees—you pay only for the space you need, when you need it.</b></h6>
      </div>
    </div>
    <!-- <div class="grid-box">
    <div>
      <h2 class="text-center top-header mt-2">
        Create free, online invitations and manage existing invitations, all in one place
      </h2>
      <img class="embed-responsive embed-responsive-1by1" src="assets/pair-3852277_640.jpg" alt="pixabay">
    </div>


    <div class="container-fluid">
      <h2 class="text-center main-header">
        Create free, online invitations and manage existing invitations, all in one place
      </h2>
      <p>Our mission is to give customers an ad free, better experience with online invitations. </p>

      <p>Whether it is a birthday, family gathering or watching a game together, simply create an invitation and
        invites all your guests. We will take care of your guest’s RSVPs and reminding them before the event.</p>

      <p>Create an invitation by providing event type, place where event is happening, a simple description of the
        event and upload a photo/video that better describes the event.</p>

      <p>Sending invites is as simple as adding your guest’s mobile/email and clicking a button. </p>

      <b>Invite Happily :)</b>
    </div>
  </div> -->
  </section>
</div>
