<div class="container-fluid">
  <div class="container transaction-history-container">
    <h4 class="text-default mb-4 font-heavy">Transaction History</h4>
    <tabset>
      <tab *ngIf="flag1">
        <ng-template tabHeading>
          <span>Completed Payouts</span>
        </ng-template>
        <div class="filters mt-3 mb-1 row no-gutters">
          <mat-form-field class="col-6" appearance="outline">
            <mat-select placeholder="Select a Space" [value]="completedFilters['space_id']"
              (selectionChange)="completedSpaceSelected($event)">
              <mat-option value="">All spaces</mat-option>
              <mat-option [value]="space['space_id']" *ngFor="let space of spaces">{{space['name']}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-6" appearance="outline">
            <mat-select placeholder="Select a payout method" [value]="completedFilters['payout_id']"
              (selectionChange)="completedPayoutSelected($event)">
              <mat-option value="">All Payout Methods</mat-option>
              <mat-option [value]="method['preference_id']" *ngFor="let method of payoutMethods">
                {{method['account']['title']}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-6 from-date-field" appearance="outline">
            <input matInput [matDatepicker]="picker1" placeholder="From" [value]="completedFilters['from_date']"
              (dateChange)="fromDateSelected($event)">
            <span class="info date-info">From: </span>
            <span id="toggle-icon1" class="toggle-icon" (click)="picker1.open();"><i
                class="far fa-calendar-alt fa-sm"></i></span>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-6 to-date-field" appearance="outline">
            <input matInput [matDatepicker]="picker2" placeholder="To" [value]="completedFilters['to_date']"
              (dateChange)="toDateSelected($event)">
            <span class="info date-info">To: </span>
            <span id="toggle-icon1" class="toggle-icon" (click)="picker2.open();"><i
                class="far fa-calendar-alt fa-sm"></i></span>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="summary row no-gutters mb-3">
          <div class="col-4"><span class="h6 font-heavy">Outstanding amount:</span>
            {{completedOutstandingAmount | currencyFilter}}
          </div>
          <div class="col-4"><span class="h6 font-heavy">Settlement amount:</span>
            {{completedSettlementAmount | currencyFilter }}
          </div>
        </div>
        <div class="card mat-elevation-z2 mb-3">
          <div class="card-body">
            <div *ngFor="let transaction of completedTransactions" class="px-4">
              <div class="tile row no-gutters" (click)="openTransactionDialog(transaction.booking_start_date)">
                <div class="col">
                  <span class="h6 font-heavy">{{ transaction.booking_start_date | date:'MMM d, y' }}</span>
                  <span class="p info d-block">{{transaction.transactions}} transactions</span>
                </div>
                <div class="col d-flex justify-content-end align-items-center text-right">
                  <span class="h6 amount">{{ transaction.settlement_amount | currencyFilter }}
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <mat-divider class="my-4"></mat-divider>
            </div>
            <!-- <table mat-table [dataSource]="completedTransactionsDataSource" class="mat-elevation-z0 w-100">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let row;">
                  {{row.name}}
                </td>
              </ng-container>

              <ng-container matColumnDef="outstandingAmount">
                <th mat-header-cell *matHeaderCellDef disableClear>Outstanding Amt</th>
                <td mat-cell *matCellDef="let row">{{row.outstanding_amount}}</td>
              </ng-container>

              <ng-container matColumnDef="settlementAmount">
                <th mat-header-cell *matHeaderCellDef>Settlement Amt</th>
                <td mat-cell *matCellDef="let row">{{row.settlement_amount}}</td>
              </ng-container>

              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef>Exp Settlement Date</th>
                <td mat-cell *matCellDef="let row">{{row.event_start_date | date:'MMM d, y, h:mm a'}}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row; let i=index;">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu class="menu--200" #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>done</mat-icon>
                      <span>Accept</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>clear</mat-icon>
                      <span>Reject</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <div *ngIf="completedTransactions.length">
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </div>
            </table> -->
            <div *ngIf="!completedTransactions.length" class="m-2">
              <span class="p">You have not received any payouts</span>
              <p>For the dates, listings and payout method currently selected</p>
            </div>
            <div class="row no-gutters">
              <div class="col-6">
                <button mat-button class="blue-button" (click)="getPrevCompletedTransactions()"
                  [disabled]="completedFilters['page'] == 0">
                  <i class='fas fa-angle-left'></i> Prev
                </button>
              </div>
              <div class="col-6 d-flex justify-content-end">
                <button mat-button class="blue-button" (click)="getNextCompletedTransactions()"
                  [disabled]="!completedTransactions.length">
                  Next <i class='fas fa-angle-right'></i>
                </button>
              </div>
            </div>
            <!-- <pagination *ngIf="completedTransactions.length" [boundaryLinks]="true"
              [totalItems]="totalCompletedTransactions" previousText="<i class='fas fa-angle-left'></i>"
              nextText="<i class='fas fa-angle-right'></i>" firstText="<i class='fas fa-angle-double-left'></i>"
              lastText="<i class='fas fa-angle-double-right'></i>" pageBtnClass="spaces-pagination" [maxSize]="5"
              (pageChanged)="getNextCompletedTransactions($event.page-1)">
            </pagination> -->
          </div>
        </div>
      </tab>
      <tab *ngIf="flag2">
        <ng-template tabHeading>
          <span>Upcoming Payouts</span>
        </ng-template>
        <div class="filters mt-3 mb-1 row no-gutters">
          <mat-form-field class="col-12" appearance="outline">
            <mat-select placeholder="Select a Space" [value]="upcomingFilters['space_id']"
              (selectionChange)="upcomingSpaceSelected($event)">
              <mat-option value="">All spaces</mat-option>
              <mat-option [value]="space['space_id']" *ngFor="let space of spaces">{{space['name']}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="summary row no-gutters mb-3">
          <div class="col-4"><span class="h6 font-heavy">Outstanding amount:</span>
            {{upcomingOutstandingAmount | currencyFilter}}
          </div>
          <div class="col-4"><span class="h6 font-heavy">Settlement amount:</span>
            {{upcomingSettlementAmount | currencyFilter }}
          </div>
        </div>
        <div class="card mat-elevation-z2 mb-3">
          <div class="card-body">
            <div *ngFor="let transaction of upcomingTransactions" class="px-4">
              <div class="tile row no-gutters" (click)="openTransactionDialog(transaction.booking_start_date)">
                <div class="col">
                  <span class="h6 font-heavy">{{ transaction.booking_start_date | date:'MMM d, y' }}</span>
                  <!-- <span class="p info d-block">Settled on:
                    {{ transaction.event_start_date | date:'MMM d, y, h:mm a' }}</span>
                  <span class="p info d-block">{{ transaction.event_start_date | date:'MMM d, y, h:mm a' }} -
                    {{ transaction.event_end_date | date:'MMM d, y, h:mm a' }}</span> -->
                  <span class="p info d-block">{{transaction.transactions}} transactions</span>
                </div>
                <div class="col d-flex justify-content-end align-items-center text-right">
                  <span class="h6 amount">{{ transaction.settlement_amount | currencyFilter }}
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <mat-divider class="my-4"></mat-divider>
            </div>
            <!-- <table mat-table [dataSource]="upcomingTransactionsDataSource" class="mat-elevation-z0 w-100">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let row;">
                  {{row.name}}
                </td>
              </ng-container>

              <ng-container matColumnDef="outstandingAmount">
                <th mat-header-cell *matHeaderCellDef disableClear>Outstanding Amt</th>
                <td mat-cell *matCellDef="let row">{{row.outstanding_amount}}</td>
              </ng-container>

              <ng-container matColumnDef="settlementAmount">
                <th mat-header-cell *matHeaderCellDef>Settlement Amt</th>
                <td mat-cell *matCellDef="let row">{{row.settlement_amount}}</td>
              </ng-container>

              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef>Exp Settlement Date</th>
                <td mat-cell *matCellDef="let row">{{row.event_start_date | date:'MMM d, y, h:mm a'}}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row; let i=index;">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu class="menu--200" #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>done</mat-icon>
                      <span>Accept</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>clear</mat-icon>
                      <span>Reject</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <div *ngIf="upcomingTransactions.length">
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </div>
            </table> -->
            <div *ngIf="!upcomingTransactions.length" class="m-2">
              <span class="p">You have not received any payouts</span>
              <p>For the listings currently selected</p>
            </div>
            <div class="row no-gutters">
              <div class="col-6">
                <button mat-button class="blue-button" (click)="getPrevUpcomingTransactions()"
                  [disabled]="upcomingFilters['page'] == 0">
                  <i class='fas fa-angle-left'></i> Prev
                </button>
              </div>
              <div class="col-6 d-flex justify-content-end">
                <button mat-button class="blue-button" (click)="getNextUpcomingTransactions()"
                  [disabled]="!upcomingTransactions.length">
                  Next <i class='fas fa-angle-right'></i>
                </button>
              </div>
            </div>
            <!-- <pagination *ngIf="upcomingTransactions.length" [boundaryLinks]="true"
              [totalItems]="totalUpcomingTransactions" previousText="<i class='fas fa-angle-left'></i>"
              nextText="<i class='fas fa-angle-right'></i>" firstText="<i class='fas fa-angle-double-left'></i>"
              lastText="<i class='fas fa-angle-double-right'></i>" pageBtnClass="spaces-pagination" [maxSize]="5"
              (pageChanged)="getNextUpcomingTransactions($event.page-1)">
            </pagination> -->
          </div>
        </div>
      </tab>
      <tab heading="Gross Earnings" *ngIf="flag2">
        <div class="filters mt-3 mb-1 row no-gutters">
          <mat-form-field class="col-6 from-date-field" appearance="outline">
            <input matInput [matDatepicker]="picker3" placeholder="From" [value]="grossEarningsFilters['from_date']"
              (dateChange)="grossFromDateSelected($event)">
            <span class="info date-info">From: </span>
            <span id="toggle-icon1" class="toggle-icon" (click)="picker3.open();"><i
                class="far fa-calendar-alt fa-sm"></i></span>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-6 to-date-field" appearance="outline">
            <input matInput [matDatepicker]="picker4" placeholder="To" [value]="grossEarningsFilters['to_date']"
              (dateChange)="grossToDateSelected($event)">
            <span class="info date-info">To: </span>
            <span id="toggle-icon1" class="toggle-icon" (click)="picker4.open();"><i
                class="far fa-calendar-alt fa-sm"></i></span>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="card mat-elevation-z2">
          <div class="card-body">
            <!-- <div *ngFor="let earning of grossEarnings" class="px-4">
              <div class="tile row no-gutters">
                <div class="col">
                  <span class="h6">{{ transaction.name }}</span>
                  <span class="p info d-block">Settled on:
                    {{ transaction.event_start_date | date:'MMM d, y, h:mm a' }}</span>
                  <span class="p info d-block">{{ transaction.event_start_date | date:'MMM d, y, h:mm a' }} -
                    {{ transaction.event_end_date | date:'MMM d, y, h:mm a' }}</span>
                  <span class="p info d-block">Space desc will come here...</span>
                </div>
                <div class="col d-flex justify-content-end align-items-center text-right">
                  <span class="h6 amount">{{ transaction.outstanding_amount | currencyFilter }}
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <mat-divider class="my-4"></mat-divider>
            </div> -->
            <table *ngIf="grossEarnings.length" mat-table [dataSource]="grossEarningsDataSource"
              class="mat-elevation-z0 w-100">

              <ng-container matColumnDef="paymentMethod">
                <th mat-header-cell *matHeaderCellDef>Payment Method</th>
                <td mat-cell *matCellDef="let row;">
                  <span *ngIf="row.account_number!='Total'">*****{{row.account_number}}</span>
                  <span *ngIf="row.account_number=='Total'">{{row.account_number}}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="grossEarnings">
                <th mat-header-cell *matHeaderCellDef disableClear>Gross Earnings</th>
                <td mat-cell *matCellDef="let row">{{row.total_gross_earnings | currencyFilter}}</td>
              </ng-container>

              <ng-container matColumnDef="serviceFee">
                <th mat-header-cell *matHeaderCellDef>Service Fee</th>
                <td mat-cell *matCellDef="let row">{{row.total_service_fee | currencyFilter}}</td>
              </ng-container>

              <ng-container matColumnDef="totalPaid">
                <th mat-header-cell *matHeaderCellDef>Total Paid</th>
                <td mat-cell *matCellDef="let row">
                  {{row.total_paid | currencyFilter}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="grossEarningsColumns"></tr>
              <div *ngIf="grossEarnings.length">
                <tr mat-row *matRowDef="let row; columns: grossEarningsColumns;"></tr>
              </div>
            </table>
            <div *ngIf="!grossEarnings.length" class="m-2">
              <span class="p">You have not received any earnings</span>
              <p>For the dates currently selected</p>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
