input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.btn.cstm-btn {
  border: 1.5px solid #ced4da;
  width: auto;
  font-weight: 500;
  height: calc(2.75rem + 2px);
  min-width: 120px;
}

.input-group-append {
    cursor: pointer;
}