<div class="container-fluid app-container">
  <section class="container pt-3 pb-5">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title font-heavy">Reset Password</h5>
            <form [formGroup]="form">
              <div class="form-group">
                <input type="password" class="form-control" formControlName="password" placeholder="New Password">
                <p class="invalid-feedback" *ngIf="form.get('password').invalid && form.get('password').touched">
                  New Password must be 6 characters
                </p>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" formControlName="cpassword" placeholder="Confirm Password">
                <p class="invalid-feedback" *ngIf="form.get('cpassword').invalid && form.get('cpassword').touched">
                  Passwords must be same
                </p>
              </div>
              <button mat-flat-button color="primary" class="bg-blue-imp br-10 w-100 blue-border-imp fs-16"
                (click)="submitForm()">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
