<div class="container bg-white custom-container">
  <h5 class="font-roman"><b>PRIVACY POLICY</b></h5>
  <p><span style="font-weight: 400;">We recognize that your privacy is very important. This privacy policy covers
      SurprizGift&rsquo;s policies on the collection, use, and disclosure of your information when you use, access and
      initiate transactions on www.eventoloop.com and the SurprizGift mobile applications (collectively the
      &ldquo;Platform&rdquo;) or anytime you interact with SurprizGift. Each time you use the Platform, you consent to
      the collection, use and storage of the collected information as described in this Privacy Policy. Please read it
      carefully and contact legal@eventoloop.com if you have any questions.</span></p>
  <h6 class="font-roman text-uppercase"><b>What Information Does SurprizGift Collect On The Platform?</b></h6>
  <p><span style="font-weight: 400;">User Account: Users may create an account by providing their email address/mobile
      phone and password. Creating an account is optional and users may access the Platform as a guest at any
      time.&nbsp;</span></p>
  <p><span style="font-weight: 400;">Purchases: When you make transactions on the Platform, SurprizGift will collect
      payment information as follows:</span></p>
  <p><span style="font-weight: 400;">Payment: SurpriseGift requires users to input the following payment information:
      credit or debit card information, first and last name, billing address, card expiration date, and three-digit
      security code.</span></p>
  <p><span style="font-weight: 400;">Email Addresses &amp; Contact Information: Users may also provide their email
      address and/or other contact information to SurprizGift to subscribe to its newsletters, to contact us through the
      Platform with questions about our Platform and Services, or to reset their password. Users can opt-out of
      newsletter communications through the unsubscribe link in that email.</span></p>
  <p><span style="font-weight: 400;">Bookings: Inorder complete a booking as a guest or add a new space to the platform
      as a host, user has to submit certain Identification/legal documents such as Aadhar, Passport, proof of ownership
      of the space or other relevant documents.&nbsp;</span></p>
  <p><span style="font-weight: 400;">Cookies: SurprizGift utilizes cookie technology to gather information on internet
      use in order to serve you more effectively. Usage of cookies is in no way linked to personally identifiable
      information. You can set your browser to remove or reject cookies; however some Platform features or Services may
      not work properly without cookies.</span></p>
  <h6 class="font-roman text-uppercase"><b>Is Information Collected By Or Disclosed To Third Parties By Using The
      Platform?</b></h6>
  <p><span style="font-weight: 400;">Credit or Debit Card Information: SurprizGift does not itself store debit or credit
      card information on its servers. SurprizGift uses Razorpay to process payments on the Platform. You should review
      Razorpay's Privacy Policy for more information on their data collection and use practices.</span></p>
  <p><span style="font-weight: 400;">Payment Account Set-Up: Hosts will be required to provide their bank account
      information and social security number in order to receive payment for services booked through the Platform.
      Payment processing services for users (both guest and host) on the Platform are provided by Razorpay and are
      subject to the Razorpay Account Agreement, which includes the Razorpay Terms of Service. Information is collected
      and used in accordance with Razorpay&rsquo;s Privacy Policy.</span></p>
  <p><span style="font-weight: 400;">Customer Support: Our customer support service is powered by Facebook Messenger.
      Users should review the Facebook Privacy Policy for more detail about the information collected and utilized by
      Facebook.&nbsp;</span></p>
  <p><span style="font-weight: 400;">SMS Log-In &amp; Notifications: The Platform utilizes Solv Technologies&rsquo;s
      2factor.in to enable SMS notifications relating to user activity on the platform, upcoming events and bookings.
      Data is collected by in accordance with Solv Technologies Privacy Policy.</span></p>
  <p><span style="font-weight: 400;">Anonymous Data - MixPanel Analytics: SurprizGift uses MixPanel to learn how our
      customers use the Platform and Services. MixPanel utilizes cookies and web beacons to track the manner in which
      customers use and interact with MixPanel&rsquo;s features, such as the elements that a user has clicked upon, so
      that we may improve the Services provided to our customers. For more information on MixPanel&rsquo;s data
      collection and use practices, see the MixPanel Privacy Policy. You can opt-out of MixPanel&rsquo;s automatic
      retention of data collected by sending an email to our support team at help@eventoloop.com. If you get a new
      computer, install a new browser, erase or otherwise alter your browser's cookie file (including upgrading certain
      browsers) you may also clear the MixPanel opt-out cookie.</span></p>
  <p><span style="font-weight: 400;">Data Storage: Data is stored on servers maintained by </span><a
      href="https://aws.amazon.com/privacy/"><span style="font-weight: 400;">Amazon Web Services</span></a><span
      style="font-weight: 400;">. Users should click on the hyperlink for more information about the data collection and
      privacy policies.</span></p>
  <p><span style="font-weight: 400;">Social Media Log-in and Plug-Ins: Users may log-in with their Facebook credentials.
      Data is collected by Facebook in accordance with Facebook's Data Policy. Users may also share their SurprizGift
      experiences or follow SurprizGift on other third party social media sites. Users should review the applicable
      privacy policies of those sites for more detail about information collected from these sites.</span></p>
  <p><span style="font-weight: 400;">Other Potential Third Party Disclosures: Information may also be disclosed to third
      parties (1) as required by law, such as to comply with a subpoena, or similar legal process, (2) when we believe
      in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others,
      investigate fraud, or respond to a government request, or (3) if SurprizGift is involved in a merger, acquisition,
      or sale of all or a portion of its assets.</span></p>
  <p><span style="font-weight: 400;">We will use commercially reasonable efforts to notify users (i) about law
      enforcement or court ordered requests for data unless otherwise prohibited by law, or (ii) if your personal
      information is to be disclosed or transferred and/or becomes subject to a different privacy policy.</span></p>
  <h6 class="font-roman text-uppercase"><b>How Is Collected Information Used And Stored?</b></h6>
  <p><span style="font-weight: 400;">Information collected may be utilized to (i) communicate with our users regarding
      their booking requests, upcoming bookings and events, (ii) communicate with users regarding their account,
      including account activation and password reset instructions, (iii) facilitate or provide information regarding
      our Services; (iv) to communicate material changes to our Terms of Service and Privacy Policy; and/or (v) help us
      maintain and improve the Services offered.</span></p>
  <p><span style="font-weight: 400;">SurprizGift will also utilize your email when you subscribe to our newsletter or
      wish to reset your password. You can unsubscribe to our newsletter via the opt-out link within the email.</span>
  </p>
  <h6 class="font-roman text-uppercase"><b>How Does SurprizGift Comply with the Children&rsquo;s Online Privacy Protection
      Act?</b></h6>
  <p><span style="font-weight: 400;">We do not knowingly collect information from children under the age of 13 without
      parental consent. If a parent or guardian becomes aware that his or her child has provided us with information
      without their consent, he or she should contact us at legal@eventoloop.com. We will delete such information from
      our files within a reasonable time.</span></p>
  <h6 class="font-roman text-uppercase"><b>How Long Does SurprizGift Retain Information Collected?</b></h6>
  <p><span style="font-weight: 400;">SurprizGift will retain account and transaction data for a commercially reasonable
      time and as we deem necessary to provide our services to our users. If you would like us to delete your registered
      account information, please contact us at legal@eventoloop.com and we will respond in a reasonable time.</span>
  </p>
  <h6 class="font-roman text-uppercase"><b>What Is SurprizGift&rsquo;s Security Policy?</b></h6>
  <p><span style="font-weight: 400;">We have implemented reasonable administrative, technical and physical security
      measures to protect your personal information against unauthorized access, destruction or alteration. For example,
      we limit access to this information to authorized employees and contractors who need to know that information in
      order to operate, develop or improve our Platform. However, although we endeavor to provide reasonable security
      for information we process and maintain, no security system can ever by 100% secure.</span></p>
  <p><span style="font-weight: 400;">Please see the AWS Cloud Security Policy for more information on its security
      practices.</span></p>
  <p><span style="font-weight: 400;">SurprizGift utilizes only PCI-DSS compliant third party payment processors to
      ensure the security of your personal information. Users should review Razorpay&rsquo;s Security Policy for more
      information on their security practices.</span></p>
  <h6 class="font-roman text-uppercase"><b>How Does SurprizGift Respond To &ldquo;Do Not Track&rdquo; Signals?</b></h6>
  <p><span style="font-weight: 400;">&ldquo;Do Not Track&rdquo; is a feature enabled on some browsers that sends a
      signal to request that a web application disable its tracking or cross-site user tracking. At present,
      SurpriseGift does not respond to or alter its practices when a Do Not Track signal is received.</span></p>
  <h6 class="font-roman text-uppercase"><b>How Will I Be Notified Of Changes To Your Privacy Policy?</b></h6>
  <p><span style="font-weight: 400;">If SurprizGift makes material changes to its Privacy Policy, it will notify you by:
      (i) changing the Effective Date at the top of the Privacy Policy, (ii) sending an email to its account holders,
      and/or (iii) adding a statement to the Platform.</span></p>
  <p><span style="font-weight: 400;">You are advised to consult this Privacy Policy regularly for any changes, as
      continued use is deemed approval of all changes.</span></p>
  <h6 class="font-roman text-uppercase"><b>Contact Us</b></h6>
  <p><span style="font-weight: 400;">If you have any questions regarding privacy while using the Platform or have
      questions about our practices, please contact us via email at legal@eventoloop.com</span></p>
  <p>&nbsp;</p>
  <!-- <div class="row">
    <div class="col-sm-12 col-md-3">
      <div class="list-group mb-3">
        <a class="list-group-item" (click)="scrollTo($event, 'head1')">1. What Information Does SurpriseGift Collect On
          The Platform?</a>
        <a class="list-group-item" (click)="scrollTo($event, 'head2')">2. Is Information Collected By Or Disclosed To
          Third Parties By Using The
          Platform?</a>
        <a class="list-group-item" (click)="scrollTo($event, 'head3')">3. How Is Collected Information Used And Stored?</a>
        <a class="list-group-item" (click)="scrollTo($event, 'head4')">4. How Does SurpriseGift Comply with the
          Children’s Online Privacy Protection Act?</a>
        <a class="list-group-item" (click)="scrollTo($event, 'head5')">5. How Long Does SurpriseGift Retain Information
          Collected?</a>
        <a class="list-group-item" (click)="scrollTo($event, 'head6')">6. What Is SurpriseGift’s Security Policy?</a>
        <a class="list-group-item" (click)="scrollTo($event, 'head7')">7. How Does SurpriseGift Respond To “Do Not
          Track” Signals?</a>
        <a class="list-group-item" (click)="scrollTo($event, 'head8')">8. How Will I Be Notified Of Changes To Your
          Privacy Policy? level 1</a>
        <a class="list-group-item" (click)="scrollTo($event, 'head9')">9. Contact Us</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-9 bg-white py-1 help-content">
      <h3 class="title mt-1">Privacy Policy</h3>
      <hr>
      <p>
        We recognize that your privacy is very important. This privacy policy covers SurpriseGift’s policies on the
        collection, use, and disclosure of your information when you use, access and initiate transactions on
        www.surprisegift.store and the SurpriseGift mobile applications (collectively the “Platform”) or anytime you
        interact with SurpriseGift.
        Each time you use the Platform, you consent to the collection, use and storage of the collected information as
        described in this Privacy Policy. Please read it carefully and contact legal@surprisegift.store if you have
        any questions.
      </p>
      <h4 id="head1">1.What Information Does SurpriseGift Collect On The Platform?</h4>

      <p>
        <span class="sub-title">User Account:</span> Users may create an account by providing their email
        address/mobile phone and password. Creating an account is optional and users may access the Platform as a
        guest at any time. By providing your Facebook login credentials to create an account, you consent to access to
        the personal information and images in those accounts in order to pre-populate your account Profile.
      </p>
      <p>
        <span class="sub-title">Purchases:</span> When you purchase products on the Platform, SurpriseGift will
        collect shipment and payment information as follows:
      </p>
      <p>
        <span class="sub-title">Shipment:</span> Users will be required to provide a name and shipping address for the
        delivery of products purchased on the Platform, including an email and phone number in the event SurpriseGift
        or the common carrier needs to contact you to facilitate delivery of the products to the appropriate location.
        At your request, shipping information may be saved for faster checkout on future orders.
      </p>
      <p>
        <span class="sub-title">Payment:</span> SurpriseGift requires users to input the following payment
        information: credit or debit card information, first and last name, billing address, card expiration date, and
        three-digit security code.
      </p>
      <p>
        <span class="sub-title">Email Addresses & Contact Information:</span> Users may also provide their email
        address and/or other contact information to SurpriseGift to subscribe to its newsletters, to contact us
        through the Platform with questions about our Platform and Services, or to reset their password. Users can
        opt-out of newsletter communications through the unsubscribe link in that email.
      </p>
      <p>
        <span class="sub-title">Cookies:</span> SurpriseGift utilizes cookie technology to gather information on
        internet use in order to serve you more effectively. Usage of cookies is in no way linked to personally
        identifiable information. You can set your browser to remove or reject cookies; however some Platform features
        or Services may not work properly without cookies.
      </p>

      <h4 id="head2">2.Is Information Collected By Or Disclosed To Third Parties By Using The Platform?</h4>
      <p>
        <span class="sub-title">Credit or Debit Card Information:</span> SurpriseGift does not itself store debit or
        credit card information on its servers. SurpriseGift uses Stripe to process payments on the Platform. You
        should review Stripe's Privacy Policy for more information on their data collection and use practices.
      </p>
      <p>
        <span class="sub-title">Payment Account Set-Up:</span> Sellers will be required provide their bank account
        information and social security number in order to receive payment for services booked through the Platform.
        Payment processing services for Sellers on the Platform are provided by Stripe and are subject to the Stripe
        Connected Account Agreement, which includes the Stripe Terms of Service. Information is collected and used in
        accordance with Stripe’s Privacy Policy.
      </p>
      <p>
        <span class="sub-title">Customer Support:</span> Our customer support service is powered by ZenDesk. Users
        should review the ZenDesk Privacy Policy for more detail about the information collected and utilized by
        ZenDesk. SurpriseGift utilizes api.ai for chatbox, which collects and utilizes data in accordance with the
        api.ai Privacy Policy.
      </p>
      <p>
        <span class="sub-title">Shipping Information:</span> SurpriseGift shares shipping information with Sellers,
        who may either facilitate shipping directly with third party shipping carrier’s or utilize Shippo through the
        Platform to access major shipping carriers, track packages and obtain shipping labels. Information may be
        shared with Shippo to process shipping requests. Users should review Shippo's Privacy Policy for more
        information about their data collection and use practices.
      </p>
      <p>
        <span class="sub-title">Sales Tax Calculation:</span> SurpriseGift utilizes the TaxJar Smart Sales Tax API,
        which collects the postal code from the applicable shipping location, the order subtotal, and any applicable
        shipping charges, to calculate applicable sales tax on any orders processed through the Platform. Users should
        review TaxJar's Privacy Policy for more information on their data collection and use practices.
      </p>
      <p>
        <span class="sub-title">SMS Log-In & Notifications:</span> The Platform utilizes Plivo to enable SMS
        notifications relating to Platform purchases and Facebook for SMS log-in. Data is collected by in accordance
        with Plivo's Privacy Policy and Facebook's Data Policy.
      </p>
      <p>
        <span class="sub-title">Anonymous Data - MixPanel Analytics:</span> SurpriseGift uses MixPanel to learn how
        our customers use the Platform and Services. MixPanel utilizes cookies and web beacons to track the manner in
        which customers use and interact with MixPanel’s features, such as the elements that a user has clicked upon,
        so that we may improve the Services provided to our customers. For more information on MixPanel’s data
        collection and use practices, see the MixPanel Privacy Policy. You can opt-out of MixPanel’s automatic
        retention of data collected by clicking here: MixPanel Opt-Out. If you get a new computer, install a new
        browser, erase or otherwise alter your browser's cookie file (including upgrading certain browsers) you may
        also clear the MixPanel opt-out cookie.
      </p>
      <p>
        <span class="sub-title">Data Storage:</span> Data is stored on servers maintained by Amazon Web Services and
        the Google Cloud Platform. Users should click on the hyperlink for more information about their data
        collection and privacy policies.
      </p>
      <p>
        <span class="sub-title">Social Media Log-in and Plug-Ins:</span> Users may log-in with their Facebook
        credentials. Data is collected by Facebook in accordance with Facebook's Data Policy. Users may also share
        their SurpriseGift experiences or follow Surprise Gift on other third party social media sites. Users should
        review the applicable privacy policies of those sites for more detail about information collected from these
        sites.
      </p>
      <p>
        <span class="sub-title">Other Potential Third Party Disclosures:</span> Information may also be disclosed to
        third parties (1) as required by law, such as to comply with a subpoena, or similar legal process, (2) when we
        believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of
        others, investigate fraud, or respond to a government request, or (3) if SurpriseGift is involved in a merger,
        acquisition, or sale of all or a portion of its assets.
      </p>
      <p>
        We will use commercially reasonable efforts to notify users (i) about law enforcement or court ordered
        requests for data unless otherwise prohibited by law, or (ii) if your personal information is to be disclosed
        or transferred and/or becomes subject to a different privacy policy.
      </p>

      <h4 id="head3">3.How Is Collected Information Used And Stored?</h4>
      <p>
        Information collected may be utilized to (i) communicate with our users regarding their orders, including,
        order placement and shipping status, (ii) communicate with users regarding their account, including account
        activation and password reset instructions, (iii) facilitate or provide information regarding our Services;
        (iv) to communicate material changes to our Terms of Service and Privacy Policy; and/or (v) help us maintain
        and improve Services offered.
      </p>
      <p>
        SurpriseGift will also utilize your email when you subscribe to our newsletter or wish to reset your
        password. You can unsubscribe to our newsletter via the opt-out link within the email.
      </p>

      <h4 id="head4">4.How Does SurpriseGift Comply with the Children’s Online Privacy Protection Act?</h4>
      <p>
        We do not knowingly collect information from children under the age of 13 without parental consent. If a
        parent or guardian becomes aware that his or her child has provided us with information without their consent,
        he or she should contact us at legal@surprisegift.store. We will delete such information from our files within
        a reasonable time.
      </p>

      <h4 id="head5">5.How Long Does SurpriseGift Retain Information Collected?</h4>
      <p>
        SurpriseGift will retain account and purchase data for a commercially reasonable time and as we deem
        necessary to provide our services to our users. If you would like us to delete your registered account
        information, please contact us at legal@surprisegift.store and we will respond in a reasonable time.
      </p>

      <h4 id="head6">6.What Is SurpriseGift’s Security Policy?</h4>
      <p>
        We have implemented reasonable administrative, technical and physical security measures to protect your
        personal information against unauthorized access, destruction or alteration. For example, we limit access to
        this information to authorized employees and contractors who need to know that information in order to
        operate, develop or improve our Platform. However, although we endeavor to provide reasonable security for
        information we process and maintain, no security system can ever by 100% secure.
      </p>
      <p>
        Please see the AWS Cloud Security Policy for more information on its security practices.
      </p>
      <p>
        SurpriseGift utilizes only PCI-DSS compliant third party payment processors to ensure the security of your
        personal information. Users should review Stripe’s Security Policy for more information on their security
        practices.
      </p>

      <h4 id="head7">7.How Does SurpriseGift Respond To “Do Not Track” Signals?</h4>
      <p>
        “Do Not Track” is a feature enabled on some browsers that sends a signal to request that a web application
        disable its tracking or cross-site user tracking. At present, SurpriseGift does not respond to or alter its
        practices when a Do Not Track signal is received.
      </p>

      <h4 id="head8">8.How Will I Be Notified Of Changes To Your Privacy Policy?</h4>
      <p>
        If SurpriseGift makes material changes to its Privacy Policy, it will notify you by: (i) changing the
        Effective Date at the top of the Privacy Policy, (ii) sending an email to its account holders, and/or (iii)
        adding a statement to the Platform.
      </p>
      <p>
        You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval
        of all changes.
      </p>

      <h4 id="head9">9.Contact Us</h4>
      <p>
        If you have any questions regarding privacy while using the Platform or have questions about our practices,
        please contact us via email at legal@surprisegift.store
      </p>

    </div>
  </div> -->
</div>
