<div [class.bg-lighter]="isbglight" (click)="onMouseEnter()" (mouseleave)="onMouseLeave()"
  class="select-container">
  <p *ngIf="currentCode == 'IN'" class="mb-0"> <img src="assets/images/india.png" alt="flag"> <span
      class="mx-2">+91</span></p>
  <p *ngIf="currentCode == 'US'" class="mb-0"> <img src="assets/images/united-states-of-america.png" alt="flag">
    <span class="mx-2">+1</span></p>
  <span class="icon"><i class="fas fa-caret-down"></i></span>
  <div [class.active]="showDropDown" (click)="onMouseEnter()" #options class="options border shadow-sm">
    <p (click)="onSelctOption('IN')" class="mb-0 pl-1">
      <img src="assets/images/india.png" alt="flag">
      <span class="ml-1">INDIA</span>
      <span class="mx-1 phone-code">+91</span>
    </p>
    <p (click)="onSelctOption('US')" class="mb-0 pl-1">
      <img src="assets/images/united-states-of-america.png" alt="flag">
      <span class="mx-1">United States</span>
      <span class="p-1 phone-code">+1</span>
    </p>
  </div>
</div>
