.select-container {
  border: 0.5px solid rgba(166, 169, 172, 0.521) !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 33.2px;
  //padding-right: 6px;
  text-align: left;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  outline: 0;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  max-width: 100%;
  box-sizing: border-box;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  width: 90px;
  height: 37px;

  .icon {
    opacity: 0.5;
  }


  p {
    border-bottom: none;
    padding-bottom: 1px;

    span {
      vertical-align: middle;
      font-weight: 500;
    }
  }
}

.active {
  display: block !important;
}

.options {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 37px;
  background-color: white;
  left: -2px;
  min-width: 250px;
  // border-radius: 4px;
  z-index: 1000;

  p {
    height: 36px !important;

    &:first-child {
      border-bottom: 1px solid rgba(166, 169, 172, 0.521);
    }

  }
}


//   border: 0.5px solid rgba(166, 169, 172, 0.521) !important;
p {
  left: 1px;

  &:first-child {
    border-bottom: 1px solid rgba(166, 169, 172, 0.521);
  }

  padding-left:8px;
  // height: 33px;

  img {
    height: 16px;
    width: 20px;
    object-fit: cover;
  }

  .phone-code {
    color: lightslategray;
  }
}



.bg-lighter {
  background-color: rgb(232, 240, 254);

}
